!
{% include 'snippets/arista/eos_hostname.j2' %}
!
{% include 'snippets/arista/eos_lldp_run.j2' %}
!
{% include 'snippets/arista/eos_layer3_interfaces.j2' %}
!
{% include 'snippets/arista/eos_port_channel_members.j2' %}
!
{% include 'snippets/arista/eos_ip_routing.j2' %}
!
{% include 'snippets/arista/eos_bgp.j2' %}
!
