!
{% include 'snippets/cisco/iosxe_hostname.j2' %}
!
{% include 'snippets/cisco/iosxe_lldp_run.j2' %}
!
{% include 'snippets/cisco/iosxe_layer3_interfaces.j2' %}
!
{% include 'snippets/cisco/iosxe_port_channel_members.j2' %}
!
{% include 'snippets/cisco/iosxe_bgp.j2' %}
!
